/* Bỏ viền khi click */
button {
    outline: none;
    cursor: pointer;
}

/* Body */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
}

/* Khung game */
#container {
    position: relative;
    height: 480px;
    width: 350px;
    border: 1px solid #ccc;
    background: url('../Sprites/bg.png');
    background-size: cover;
    overflow: hidden;
    margin: 80px auto;
    border-radius: 10px;
}

/* Con chim */
#bird {
    position: absolute;
    background: url('../Sprites/bird.png');
    height: 42px;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}

/* Ống Flappy Bird chuẩn */
.pole {
    position: absolute;
    width: 60px;
    right: -64px;
    border-radius: 20px;

    /* màu xanh chuẩn flappy bird */
    background: linear-gradient(
        to bottom,
        #7ec850 0%,
        #74c147 40%,
        #6bb83f 70%,
        #63ae38 100%
    );

    /* đổ bóng + ánh sáng */
    box-shadow:
        inset 8px 0 8px rgba(255,255,255,0.25),
        inset -6px 0 6px rgba(0,0,0,0.25),
        0 0 10px rgba(0,0,0,0.25);

    border: 2px solid #5ca031;
    overflow: hidden;
}

/* Ống trên */
#pole_1 {
    top: 0;
    height: 180px;
}

/* Ống dưới */
#pole_2 {
    bottom: 0;
    height: 180px;
}

/* Điểm */
#score {
    font-size: 70px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10px;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

/* Điểm cao nhất */
#high_score {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 14px;
    text-shadow: 0 0 5px black;
}

/* LEVEL – góc trên trái */
#level {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 0 5px black;
}

/* Nút chơi lại */
#restart_btn {
    position: absolute;
    top: 40%;                  /* canh giữa khung game */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 25px;
    font-size: 35px;
    font-weight: bold;
    background-color: #41a7ff; /* xanh da trời */
    color: white;              /* chữ trắng */
    border: none;              /* bỏ viền */
    border-radius: 12px;       /* bo góc */
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    cursor: pointer;
    display: none;             /* ẩn khi chưa thua */
    z-index: 100;
}

#restart_btn:hover {
    background-color: #1e90ff; /* xanh đậm khi hover */
}


/* Nút chơi game */
#play_btn {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.0);
    border: none;
    font-size: 30px;
    color: #555;
    z-index: 50;
}
